<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>{% block body %}{% endblock %}</h1>
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/jquery-3.5.1.min.js')}}"></script>
</body>
</html>