{% extends "base.html" %}
{% include "header.html" %}

{% block title %} Home {% endblock %}

{% block body %} 
    <div class="container">
        <div class="row">
            <div class="col md-12">
                <div class="jumbotron p-3">
                    <h2>Manage <strong>Employees</strong> <button type="button" class="float-right btn btn-success" 
                        data-toggle = "modal" data-target="#mymodal">Add New Employees</button> </h2>

                    <table class="table table-hover table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Action</th>
                        </tr>
                        {% for row in employees %}
                        <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.name}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.phone}}</td>
                            <td>
                                <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modal_edit{{row.id}}">Edit</a>
                                <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure to delete?')">Delete</a>
                            </td>
                        </tr>
                    

                    
                    <div id="modal_edit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Employee</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('update')}}" method="post">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="hidden" name="id" value="{{row.id}}">
                                            <input type="text" name="name" class="form-control1" required="1" value="{{row.name}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" name="email" class="form-control1" required="1" value="{{row.email}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" name="phone" class="form-control1" required="1" value="{{row.phone}}">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Update Employee</button>
                                        </div>
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div id="mymodal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Add Employee</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('addEmployee')}}" method="post">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" name="name" class="form-control1" required="1">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" name="email" class="form-control1" required="1">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone">Phone</label>
                                            <input type="number" name="phone" class="form-control1" required="1">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary">Add Employee</button>
                                        </div>
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}